<div>
  <cdk-virtual-scroll-viewport #scrollViewportDialog appendOnly itemSize="24" minBufferPx="200" maxBufferPx="400" class="example-viewport" autosize>
    <div *cdkVirtualFor="let item of tablicazawartosci"  class="example-item"  >{{item.data}}<span>,&nbsp;{{item.name}} ></span><span [style.color]="item.kolor">&nbsp;{{item.tekst}}</span></div>
  </cdk-virtual-scroll-viewport>

 <div class="przewijaj"> 
  <mat-slide-toggle [(ngModel)]="checked"><span [ngClass]="{'text-success':checked, 'text-danger':!checked}">{{ checked ? "przewijaj" : "nie przewijaj"}}</span></mat-slide-toggle>
 </div>
</div>