:host
    {
        color: lightgreen;
        cursor: crosshair;
    }
.linia-komend 
    {
        background-color: black;
        color: chartreuse;      
        font-size: 24px;
        border-top: 2px solid rgb(00, 123, 255);
    }
.obok
    {
      display: inline-block;
    }
.imput
{
    cursor: text;  
    padding-left: 10px;  
}    
.kursor
{
    margin-left: -3px;
    margin-right: -2px;
    animation-name: kursorek;
    animation: kursorek 1000ms linear infinite;
}
.spacje
  {
    white-space: pre;
  }  
@keyframes kursorek
    {
        0% { color: yellow; }
        30% { color: rgb(172, 172, 0); }
        60% { color: rgb(90, 90, 0); }
        80% { color: rgb(172, 172, 0); }
        100% { color: yellow; }
    }  
.ikona
    {   
        font-size: 18px;
        vertical-align: middle;
        text-align: right;
    }


    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline
    {
        background-color: rgb(00, 123, 255);
    }
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple 
        {
            background-color: rgb(00, 123, 255);
        }
    
.niedostepne
    {
        cursor: crosshair;
        animation-name: mrugaj;
        animation: mrugaj 800ms linear infinite;
    }
@keyframes mrugaj
    {
        0% { color: red; }
        30% { color: rgb(172, 0, 0); }
        60% { color: rgb(90, 0, 0); }
        80% { color: rgb(172, 0, 0); }
        100% { color: red; }
    }  
