<mat-card class="mat-card">
  <mat-label>Start Akcji: {{czas_rzeczywisty_start}} </mat-label>
  <hr>
  <mat-label>Koniec Akcji: {{czas_rzeczywisty_end}} </mat-label>
  <hr>
  <mat-label>Czas Akcji: {{czas_trwania}} </mat-label>
    
  <mat-card-actions align="end">
    <div class="example-button-row">
      <button type="button" class="btn btn-success" (click)="start()" [disabled]="buttonSTARTdisabled"> START </button>  
      <button type="button" class="btn btn-danger" (click)="stop()" [disabled]="buttonSTOPdisabled"> STOP </button>
    </div>  </mat-card-actions>
</mat-card>


