.input-date
{
  background: limegreen;
}  
.mat-card
{
  background: black;
  color: limegreen;
}
::ng-deep .ngb-tp-input /* tło input */
{
  background: limegreen;
}
::ng-deep .ngb-tp-chevron /* strzałki time */
{
  color: red;
}
::ng-deep .mat-icon-button /* ikona date */
{
  color: red;
}
.obok
{
  display: inline-block;
}
button
{
  width: 260px;
}