:host
{
    color: lightgreen;
    cursor: crosshair;
}
#Okno
{
   width: 200px;
}
.example-viewport
  {
    width: 100%;
    max-width: 100%;
  }
.przewijaj
  {
    height: var(--status);
    width: 100%;
    max-width: 100%;
  }  
.example-item
  {
    height: 24px;
  }
.example-margin {
    margin: 0 10px;
  }
.kursor
  {
    cursor: pointer;
  }
.spacje
  {
    white-space: pre;
  }  
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar
{
  background-color: lightgreen ;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb 
{
  background-color:  green;
}
::ng-deep .mat-slide-toggle-thumb
{
  background-color:  red;
}
::ng-deep .mat-slide-toggle-bar 
{
  background-color:  rgb(255, 155, 155);
}
.mrugaj
{
    cursor: progress;
    animation-name: kursorek;
    animation: kursorek 1000ms linear infinite;
}
@keyframes kursorek
    {
        0% { color: yellow; }
        30% { color: rgb(172, 172, 0); }
        60% { color: rgb(90, 90, 0); }
        80% { color: rgb(172, 172, 0); }
        100% { color: yellow; }
    }  