:host
{
    font-size: 18px;
    color: lightgreen;
    cursor: crosshair;
}
.nawigacja
{
    display: block;
}
.informacje
{
    display: block;
    overflow-y: hidden;
    overflow-x: hidden; 
    border-bottom: 2px solid rgb(00, 123, 255)
}
.klawiatura
{
    display: block;
}
.linia-komend
{
    display: block;
}
.obok
{
  display: inline-block;
}