:host
{
    font-size: 18px;
}
.nawigacja
{
    display: block;
}
.informacje
{
    display: block;
    height: var(--informacje);
    max-height: var(--informacje);
    overflow-y: hidden;
    overflow-x: hidden; 
    border-bottom: 2px solid rgb(00, 123, 255)
}
.klawiatura
{
    display: block;
}
.linia-komend
{
    display: block;
}
