<ng-template #content>
    <div class="modal-body">
      <h4>Czekaj!</h4>
      <mat-spinner></mat-spinner>
    </div>
</ng-template>


<div>
    <app-informacje class="informacje"  [ngStyle]="{'height': wysokoscInfo +'px', 'max-height': wysokoscInfo +'px'}">
    </app-informacje>
</div>
<div class="row">
<div>
    <app-nawigacja class="nawigacja" [ngStyle]="{'height': wysokoscNawigacja +'px', 'max-height': wysokoscNawigacja +'px', 'width': szerokoscNawigacja +'px', 'max-width': szerokoscNawigacja +'px'}" >
    </app-nawigacja>
</div>
<div>
    <app-zalogowani-uzytkownicy [ngStyle]="{'height': wysokoscNawigacja +'px', 'max-height': wysokoscNawigacja +'px', 'width': szerokoscZalogowani +'px', 'max-width': szerokoscZalogowani +'px'}">

    </app-zalogowani-uzytkownicy>    
</div>
</div>
<div >
    <app-dialog-mini [ngStyle]="{'height': wysokoscDialogMin +'px', 'max-height': wysokoscDialogMin +'px'}">

    </app-dialog-mini>

    <app-klawiatura class="klawiatura" [ngStyle]="{'height': wysokoscKlw +'px', 'max-height': wysokoscKlw +'px'}">
    </app-klawiatura>

    <app-linia-komend class="linia-komend"  [ngStyle]="{'height': wysokoscLinia +'px', 'max-height': wysokoscLinia +'px'}">
    </app-linia-komend>

   

</div>
