.example-viewport
  {
    
    width: 100%;
    max-width: 100%;
  }
.example-item
  {
    height: 24px;
  }
.dialog
  {
    display: block;
    border-bottom: 2px solid  rgb(00, 123, 255);   
    border-top: 2px solid  rgb(00, 123, 255);     
  }  