:host
{
    --odstep: 1px;  
    --wysokosc_przycisk: 34px;
    --szerokosc_przycisk: 32px;
    margin: auto;
    padding: 4px 12px;
}
.cyfra
{
  width: var(--szerokosc_przycisk);
  height: var(--wysokosc_przycisk);  
  min-height: var(--wysokosc_przycisk);  
  margin: var(--odstep);
}
.szeroki
{
  min-width: calc(2 * var(--szerokosc_przycisk) + 2 * var(--odstep));
  height: var(--wysokosc_przycisk);  
  min-height: var(--wysokosc_przycisk);  
  margin: var(--odstep);
  border: 1px solid white;
}
.spacja
{
  min-width: calc(3 * var(--szerokosc_przycisk) + 4 * var(--odstep));
  height: var(--wysokosc_przycisk);  
  min-height: var(--wysokosc_przycisk);  
  margin: var(--odstep);
}
.icon
{
   font-size: 18px;
}
.obok
{
  display: inline-block;
}
