:host
{
    color: lightgreen;
    cursor: crosshair;
}
.kursor 
{
    cursor: pointer;
}
.male
{
    font-size: 14px;
}
::ng-deep .mat-slide-toggle.mat-disabled .mat-slide-toggle-label,
::ng-deep .mat-slide-toggle.mat-disabled .mat-slide-toggle-thumb-container
{
    cursor: pointer;
}
