:host
{
    display: flex;
    height:100%;
    max-height: 100%;
}
html, body 
{
    background: black;
    display: inline-block ;
    margin:0px;
    padding:0px;
    overflow-y: hidden;
    overflow-x: hidden;
    user-select: none;
    height: 100%;
    max-height: 100%;
    
}
body 
{ 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin: 0; 
}

